<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do Usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <span class="mat-h2">Nome: </span
      ><span class="mat-h3">Fulano da Silva</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <span class="mat-h2">E-mail: </span
      ><span class="mat-h3">tgastardelli@gmail.com</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <span class="mat-h2">Telefone: </span
      ><span class="mat-h3">(11) 97014-9013</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <span class="mat-h2">Endereço: </span
      ><span class="mat-h3">Rua das Flores, 42, São Paulo - SP</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <span class="mat-h2">Status: </span><span class="mat-h3">Inativo</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <span class="mat-h2">Função: </span
      ><span class="mat-h3">Desenvolvedor</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <span class="mat-h2">Data de Cadastro: </span
      ><span class="mat-h3">31/10/1998</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
