@import "./styles/utils/text-align-center";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: bordex-box; // bordas e o preenchimento sejam incluídos no tamanho total do elemento
}
